.overlay{
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, rgb(155, 154, 154), white);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.overlay h1{
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  letter-spacing: 2px;
}

/* .boxLhover img{
  transform: scale(1.2);
} */

.box:hover .overlay{
  height: 120%;
}